<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <%- include('shared/head') %>

</head>

<body>
    <%- include('shared/nav') %>
    <h1>Home</h1>
    <!-- Bootstrap JavaScript Libraries -->
    <%- include('shared/script') %>
</body>

</html>